body {
  background-color: #286DA8;


}

.header {
    background-color: #438496;
    text-align: center;
    color: white;
   text-shadow: 2px 2px black;
   border: 2px solid black;
}

.frame{
  background-color: white;
  height: 500px;
  padding-top: 300px;
}

.body{
  background-color: #438496;
  width: 230px;
  text-align: center;
  display: block;
  margin: 0 auto;

}

.body input{
  font-size: 22px;
text-align: center;
/*width: 230px;*/
}
