<p> Welcome <%= name %> <p>
<p> You are currently logged in as <%= username %> <p>
<form action="/logout" method="get">
  <input type="submit" value="Log Out">
</form>
<form action="/listings/new" method="get">
  <input type="submit" value="List a House Y'all">
</form>
<h2> Your Properties <h2>

    <br><% listing.forEach(function(entry){ %>
      <div>
      <%= entry.name %><br>
      <%= entry.location %><br>
      <%= entry.description %><br>
      <%= entry.price %><br>
    </div><br><br>
    <% }) %><br>

  <div>
  </div>
